{{#if creatures.length}}
<div class="creature-ledger-list">
  {{#each creatures}}
  <div class="creature-entry" data-actor-id="{{id}}">
    <img class="creature-portrait" src="{{img}}" alt="{{name}}" />
    <div class="creature-info">
      <h3 class="creature-name">{{name}}</h3>
      <div class="creature-stats">
        <span class="stat"><i class="fas fa-heart"></i> {{hp}}</span>
        <span class="stat"><i class="fas fa-shield-halved"></i> {{ac}}</span>
      </div>
      <div class="creature-traits">
        <div class="trait-row">
          <span class="trait-label">Resistances</span>
          <span class="trait-value">{{resistances}}</span>
        </div>
        <div class="trait-row">
          <span class="trait-label">Immunities</span>
          <span class="trait-value">{{immunities}}</span>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<div class="creature-ledger-empty">
  <i class="fas fa-book-skull"></i>
  <p>No creatures discovered yet.</p>
</div>
{{/if}}
