<div class="oot-wild-shape-container">
  {{#if noToken}}
  <div class="wild-shape-empty">
    <i class="fas fa-horse-head"></i>
    <p>Select your token on the canvas first.</p>
  </div>
  {{else}}
  <div class="wild-shape-header">
    <div class="wild-shape-info">
      <i class="fas fa-paw"></i>
      <span>{{tokenName}} &mdash; Max CR <strong>{{crCap}}</strong></span>
    </div>
    <input type="text" class="wild-shape-search" placeholder="Search beasts...">
  </div>

  {{#if isPolymorphed}}
  <div class="wild-shape-revert">
    <i class="fas fa-paw"></i>
    <span>Currently transformed</span>
    <button type="button" class="revert-btn">
      <i class="fas fa-rotate-left"></i> Revert
    </button>
  </div>
  {{/if}}

  {{#if loading}}
  <div class="wild-shape-loading">
    <i class="fas fa-spinner fa-spin"></i>
    <span>Loading beasts...</span>
  </div>
  {{else if beasts.length}}
  <div class="wild-shape-list">
    {{#each beasts}}
    <div class="beast-row {{#if starred}}starred{{/if}}" data-uuid="{{uuid}}" data-name="{{name}}">
      <button type="button" class="beast-star" title="{{#if starred}}Unstar{{else}}Star{{/if}}">
        <i class="{{#if starred}}fas{{else}}far{{/if}} fa-star"></i>
      </button>
      <img class="beast-img" src="{{img}}" alt="{{name}}">
      <div class="beast-name">{{name}}</div>
      <div class="beast-size">{{size}}</div>
      <div class="beast-cr">CR {{crDisplay}}</div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div class="wild-shape-empty">
    <i class="fas fa-paw"></i>
    <p>No beasts available for CR {{crCap}} or lower.</p>
  </div>
  {{/if}}
  {{/if}}
</div>
